<div style="margin-top: 10px">

</div>

<div class="slider">
    <ul class="slides">
      <li>
        <img src="{{ url_for('static',filename='./profile/abstract_0059.jpg') }}"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="{{ url_for('static',filename='./profile/bingdesktop.jpg') }}"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="{{ url_for('static',filename='./profile/BingWallpaper-2013-05-08.jpg') }}"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="{{ url_for('static',filename='./profile/BingWallpaper-2015-07-25.jpg') }}"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>

 <div class="container socialIcons">
     <ul class="">
        <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
 </div>

<div class="collection with-header">
    <li style="list-style: none" class="collection-header"><h4>Frequently Asked Questions</h4></li>

      <ul class="collapsible collection-item">
        <li>
          <div class="collapsible-header"><i class="material-icons">add_box</i>Is there a guaranteed refund incase one isn't satisfied with the services?</div>
          <div class="collapsible-body"><span>Yes we have a 30 day money guarantee </span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">add_box</i>Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">add_box</i>Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li><li>
          <div class="collapsible-header"><i class="material-icons">add_box</i>Is there a guaranteed refund incase one isn't satisfied with the services?</div>
          <div class="collapsible-body"><span>Yes we have a 30 day money guarantee </span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">add_box</i>Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">add_box</i>Is there a guaranteed refund incase one isn't satisfied with the services?</div>
          <div class="collapsible-body"><span>Yes we have a 30 day money guarantee </span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">add_box</i>Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li><li>
          <div class="collapsible-header"><i class="material-icons">add_box</i>Is there a guaranteed refund incase one isn't satisfied with the services?</div>
          <div class="collapsible-body"><span>Yes we have a 30 day money guarantee </span></div>
        </li>
  </ul>
</div>

<div class="collection with-header" style="list-style: none;margin-top: 100px;">
    <li class="collection-header"><h4>Subscribe to our Newsletter</h4></li>
    <li class="collection-item">
        <form class="col s12">
  <div class="row">
    <div class="input-field col s12">
      <input id="email" type="email" class="validate">
      <label for="email">Email</label>
        <a class="waves-effect waves-light btn teal darken-4 right"><i class="material-icons right">send</i>Subscribe</a>


      <span class="helper-text" data-error="Incorrect Email Format" data-success="Correct Email format">...</span>
    </div>
  </div>
</form>
    </li>
</div>
