<!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./materialize/material-icons.css') }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./materialize/css/materialize.css') }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./vendor/fontawesome/css/all.css') }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./global_font.css') }}"  media="screen,projection"/>


